%table.table.table-hover
  %thead
    %tr
      %th Story
      %th Assigned
      %th Action
      %th Comments
  %tbody
    %tr
      =search_form_for @filter do |f|
        %th
        %th=f.collection_select :user_id_eq, User.all, :id, :name, include_blank: true
        %th=f.select :state_eq, Story.all_states, include_blank: true
        %th=f.submit 'filter', class: 'btn btn-small'

    - @stories.each do |story|
      %tr
        %td
          =link_to story.body, story_path(story.id)
        %td
          =story.user.name if story.user
        %td
          -if signed_in?
            =render partial: 'story_state', locals: {story: story}
          -else
            =story.state
        %td
          =story.comments.count
