%table.table.table-hover
  %thead
    %tr
      %th= sort_link @filter, :body, Story.human_attribute_name("body")
      %th=Story.human_attribute_name("user")
      %th=Story.human_attribute_name("state")
      %th=Story.human_attribute_name("comments")
      %th= sort_link @filter, :created_at, Story.human_attribute_name("created_at")
  %tbody
    %tr
      =search_form_for @filter do |f|
        %th
        %th=f.collection_select :user_id_eq, User.all, :id, :name, include_blank: true
        %th=f.select :state_eq, Story.all_states, include_blank: true
        %th=f.submit 'filter', class: 'btn btn-small'
        %th

    - @stories.each do |story|
      %tr
        %td
          =link_to story.body, story_path(story.id)
        %td
          =story.user.name if story.user
        %td
          -if signed_in?
            =render partial: 'story_state', locals: {story: story}
          -else
            =story.human_state_name
        %td
          =story.comments.count
        %td=story.created_at
