%h1 подробнее
-if signed_in?
  =render "form"
  -# =render "comments"
  =render "add_comment"
-else
  %dl.dl-horizontal
    %dt номер
    %dd=@story.id
    %dt story
    %dd=@story.body
    %dt назначена
    %dd=story_assigned
    %dt статус
    %dd=@story.state

