%h1 подробнее
%dl.dl-horizontal
  %dt номер
  %dd=@story.id
  %dt story
  %dd=@story.body
  %dt назначена
  %dd=story_assigned
  %dt статус
  %dd=render partial: 'story_state', locals: {story: @story}
%p
=render "add_comment"
%p
%h3 Comments:
%dl.dl-horizontal
  =render partial: "comment", collection: @comments

