%h1 подробнее
%dl.dl-horizontal
  %dt номер
  %dd=@story.id
  %dt story
  %dd=@story.body
  %dt назначена
  %dd=story_assigned
  %dt статус
  %dd=render partial: 'story_state', locals: {story: @story}
=link_to "edit story", edit_story_path
%p
=link_to "add comment", new_story_comment_path(story_id: @story)
%p
%h3 Comments:
%dl.dl-horizontal
  =render partial: "web/comments/comment", collection: @comments

